  <!-- tao ghi chu -->
          <div class="col-md-8 text-center border border-primary" style="margin-left: 20%">
            <form method="post" action="">
            <!-- <div class="panel panel-primary"> -->
            <div class="panel-heading" style="font-weight: bold; text-align: center; color: red;">Ghi chú</div>
            <div class="panel-body">
            <!-- row -->
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-md-3">Tiêu đề</div>
              <div class="col-md-9"><input type="text" required name="tieude" class="form-control"></div>
            </div>
          <!-- end row -->
          <!-- row -->
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-3">Nội dung</div>
            <div class="col-md-9"><textarea name="noidung" class="form-control" style="height:170px;"></textarea></div>
          </div>
          <!-- end row -->
          <!-- row -->
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-3">Yêu cầu CV</div>
            <div class="col-md-9"><textarea name="yeucau" class="form-control" style="height:170px;"></textarea></div>
          </div>
          <!-- end row -->
          <!-- row -->
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-md-3">Thời gian thực hiện</div>
              <div class="col-md-9"><input type="text" required name="thoigianthuchien" class="form-control"></div>
            </div>
          <!-- end row -->
          <!-- row -->
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-2"></div>
            <div class="col-md-10"><input type="submit" value="Tạo" class="btn btn-primary"> <input type="reset" value="Hủy" class="btn btn-danger"></div>
          </div>
        <!-- end row -->
            </div>
           <!-- </div> -->
          </form>
        </div>
        <!--end tao ghi chu -->
